:root {
  --main-color: #444;
  --accent-color: #dec129;
}

* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: .4s;
}

a:hover {
  color: var(--accent-color);
}
